* {
    margin:0;
    padding:0;
    box-sizing: border-box
}

body {
    display: flex;
}

.slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 350px;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.usuario {
    display: flex;
    flex-direction: row;
    border: 1px #BEC1BB solid;
    width: 350px;
    height: 80px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

.principal {
    font-size: 20px;
    position: relative;
    top: 12px;
    left: -35px;
}

.estado {
    font-size: 12px;
    color: #BEC1BB;
    position: relative;
    top: 5px;
    left: -35px;
}


.nombre {
    padding: 20px;
}

.fa-bars {
    padding: 10px;
}

.btn-newchat {
    background-color: white ;
    display: flex;
    flex-direction: column;
    border: 1px #BEC1BB solid;
    width: 350px;
    height: 150px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.btn-personal {
    background-color: #A491D2;
    border: none;
    width: 200px;
    height: 50px;
    color: whitesmoke;
    padding: 5px;
}

.btn-personal:hover {
    background-color: #CDC3E6;
}

.btn-personal:focus {
    background-color: #BEC1BB;
}

.rg-contacto{
    display: flex;
    flex-direction: row;
    border: 1px #BEC1BB solid;
    width: 350px;
    justify-content: center;
    align-items: center;
    justify-content: left;
    padding: 10px 30px;
}

.contacto {
    font-size: 20px;
    text-align: left;
    position: relative;
    top: 10px;
}

.nick {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 30px;
    padding-left: 20px;
    padding-top: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.main {
    background-color: #E8EBE4;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.msj-main{
    padding-top: 30px;
}